$color-background-primary: #fff;
$color-background-secondary: #f3f4f6;

$color-button: rgba(#5d5fef, 1);
$color-button-hover: rgba(#5d5fef, 0.8);

$color-disabled: #6b7280;

$color-text-primary: #4d5562;
$color-text-primary-accent: #6b7280;

$color-text-secondary: #5d5fef;

$color-mode-item-border: #e2e3e5;

$color-dropzone-border: #c4c4c4;
$color-dropzone-hover: #F0F9FF;
$color-dropzone-main-text: #5d5fef;
$color-dropzone-sub-text: #6b7280;

$color-calculator-display: #f3f4f6;
$color-calculator-button-border: #e2e3e5;
