@import "../../styles/index";

.Calculator {
  width: max-content;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 9fr;
  gap: 12px 12px;
  grid-template-areas:
    "z b"
    "a c";

  &ToggleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 243px;
    height: 38px;
    grid-area: b;

    .CalculatorToggle {
      background-color: $color-background-secondary;
      border-radius: 6px;
    }
  }

  &DropContainer {
    grid-area: c;
  }

  &DragContainer {
    width: max-content;
    justify-self: end;
    grid-area: a;
  }
}
